.faq-section {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
  }
  
  .faq-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .faq-item {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    margin-bottom: 12px;
    padding: 14px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .faq-item:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .faq-question {
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .arrow {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    color: white;
  }
  
  .arrow.open {
    transform: rotate(90deg); /* makes it point down */
  }
  
  
  .faq-answer {
    font-size: 0.95rem;
    line-height: 1.5;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    opacity: 0;
  }
  
  .faq-item.open .faq-answer {
    max-height: 300px;
    opacity: 1;
  }
  