.movie-row {
  margin-bottom: 40px;
  padding: 0 30px;
}

.row-title {
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
}

/* .movie-scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* <-- Always 5 columns */
/* gap: 20px;
    box-sizing: border-box;
    padding: 10px 0;
  } */
.movie-scroll {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  overflow: hidden;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 fixed cards per row */
  gap: 20px;
  padding: 20px 0;
  box-sizing: border-box;
}

.movie-poster-card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 8px;
  background: #1a1a1a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.movie-poster-card img {
  width: 100px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

/* .movie-poster-card {
  width: 100%; /* Fills the column space */
/* aspect-ratio: 2 / 3;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease; */
/* }  */

.movie-poster-card:hover {
  transform: scale(1.05);
}

/* @media (max-width: 1024px) {
  .movie-scroll {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .movie-scroll {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .movie-scroll {
    grid-template-columns: 1fr;
  }
} */
