body {
  margin: 0;
  padding: 0;
  background-image: url('/images/dark-blue-blurred-background_1034-589.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  font-family: 'Georgia', serif;
}

.login-genre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-card {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.logo-login {
  width: 35%;
  margin-top: -150px;
  margin-bottom: -40px;
}

.log-cancel-btn {
  background-color: #416270; 
  border-color: #2C4D5B; 
  color: white;
  width: 70%;
  margin: 0 auto;
}

.log-cancel-btn:hover {
  background-color: #4f707e; 
  border-color: #4f707e; 
  color: white;
}

.log-btn {
  background-color: #3d7b4b; 
  border-color: #3d7b4b; 
  color: white;
  width: 70%;
  margin: 0 auto;
}

.custom-rounded {
  border-radius: 10px;
}

.log-btn:hover {
  background-color: #498f58; 
  border-color: #498f58;
  color: white;
}