body {
  margin-top: 0px;
  padding: 0;
  background-image: url('/images/dark-blue-blurred-background_1034-589.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-genre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.login-card {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  max-width: 800px;
  width: 100%;
  padding: 40px; 
  position: relative;
}

.logo-login {
  margin-top: -90px;
  margin-bottom: -70px;
  width: 350px;
  height: auto;
}

.log-cancel-btn {
  background-color: #416270; 
  border-color: #2C4D5B; 
  color: white;
}

.log-cancel-btn:hover {
  background-color: #4f707e; 
  border-color: #4f707e; 
  color: white;
}

.log-btn {
  background-color: #3d7b4b; 
  border-color: #739e7d; 
  color: white;
}

.custom-rounded {
  border-radius: 10px;
}

.log-btn:hover {
  background-color: #498f58; 
  border-color: #498f58;
  color: white;
}
