body {
  margin: 0;
  padding: 0;
  background-image: url('./../assets/dark-blue-blurred-background_1034-589.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
  position: relative;
}

.privacy-img {
  display: block;
  margin: -30px auto -20px auto;
  max-width: 250px; /* Smaller logo */
}

.privacy-div {
  background-color: white;
  padding: 40px;
  margin: 0 auto;
  max-width: 70%;
  color: #1a202c; /* Tailwind's text-gray-800 */
}

.privacy-h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Georgia', serif;
  margin: 0;
}

.privacy-meta {
  font-size: 0.875rem;
  color: #6b7280;
  margin-bottom: 1.5rem;
  text-align: left;
}

.privacy-meta p {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.2; /* Even tighter spacing */
}

.privacy-section {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  text-align: left;
}

.privacy2-section {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  text-align: center;
}

.privacy-header-row {
  position: relative;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 1.5rem;
}


@media (max-width: 768px) {
  .privacy-div {
    max-width: 90%;
    padding: 20px;
  }
}

.sticky-btn {
  position: fixed; 
  top: 3rem;
  right: 2rem;
  z-index: 100;
  background-color: #416270;
  border-color: #2C4D5B;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border: none;
}

.sticky-btn:hover{
  background-color: #4f707e; 
  border-color: #4f707e; 
  color: white;
}

.custom-rounded {
  border-radius: 10px;
}