body {
  margin-top: 0px;
  padding: 0px;
  justify-content: center;
  background-image: url('./../assets/dark-blue-blurred-background_1034-589.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  position: relative;
}

.privacy-h1 {
  padding-top: 100px;
  font-weight: bold;
  text-align: center;
}

.privacy-div {
  padding: 20px;
  margin-top: 50px;
  padding-left: 40px;
}

.privacy-section {
  padding: 20px;
  font-size: larger;
  margin: 0 auto;
  max-width: 70%;
  text-align: left;
}

@media (max-width: 768px) {
  section {
    max-width: 100%;
  }
}

.privacy-img {
  max-width: 50%;
  margin-top: -200px;
  margin-bottom: -200px;
}

.sticky-btn {
  position: sticky;
  top: 1rem;
  float: right;
  z-index: 10;
  background-color: #416270; 
  border-color: #2C4D5B; 
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px; /* full-rounded */
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.sticky-btn:hover{
  background-color: #4f707e; 
  border-color: #4f707e; 
  color: white;
}